body{
font-family:Arial;
margin:0;
background:linear-gradient(135deg,#4facfe,#00f2fe);
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.container{
background:rgba(0,0,0,0.4);
padding:40px;
border-radius:20px;
width:520px;
text-align:center;
color:white;
}

button{
padding:10px 20px;
border:none;
border-radius:10px;
background:#ffcc00;
cursor:pointer;
margin:5px;
}

button:hover{
background:#ffb700;
}

canvas{
background:white;
border-radius:10px;
margin-top:20px;
}

img{
width:100px;
}

@media (max-width:600px){

.container{
width:90%;
padding:20px;
}

}